@font-face {
    font-family: textGameFont;
    src: url(fonts/glass_tty_vt220.ttf);
}

p {
    font-family: textGameFont;
    font-size: 1.5em;
    color: #50D050;
}

a {
    font-family: textGameFont;
    font-size: 1.5em;
    color: #50D050;
}

body {
    background-color: black;
    margin-left: 100px;
    margin-right: 300px;
}

#parent {height: 550px;}

#floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

#child1 {
    clear: both;
    height: 100px;
}